{
  "swagger": "2.0",
  "info": {
    "title": "Patent",
    "description": "This is a patent api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "patent.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "patentlication/json"
  ],
  "paths": {
    "patent/": {
      "get": {
        "summary": "retrieves all patents",
        "description": "pulls all patents, with filter by keyword",
        "operationId": "getPatents",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across patent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "patent response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/patent"
              }
            }
          }
        },
        "tags": [
          "patent",
          "patentging"
        ]
      },
      "post": {
        "summary": "add patent",
        "description": "add a new patent",
        "operationId": "addPatent",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the patent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "patent response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/patent"
              }
            }
          }
        },
        "tags": [
          "patent",
          "patentging"
        ]
      }
    },
    "patent/{slug}": {
      "get": {
        "summary": "Retrieve a patent using its slug",
        "description": "Returns the patent detail",
        "operationId": "getPatent",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the patent, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "patent response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/patent"
              }
            }
          }
        },
        "tags": [
          "patent",
          "patentging"
        ]
      },
      "put": {
        "summary": "update patent",
        "description": "update patent",
        "operationId": "updatePatent",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the patent",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the patent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "patent response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/patent"
              }
            }
          }
        },
        "tags": [
          "patent",
          "patentging"
        ]
      },
      "delete": {
        "summary": "delete patent",
        "description": "deletes an patent",
        "operationId": "deletePatent",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the patent",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "patent response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/patent"
              }
            }
          }
        },
        "tags": [
          "patent",
          "patentging"
        ]
      }
    }
  },
  "definitions": {
    "patent": {
      "properties": {
        "name": {
          "description": "name of the patent",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the patent",
          "type": "string"
        },
        "url": {
          "description": "url for the patent",
          "type": "string"
        },
        "tags": {
          "description": "tags for the patent",
          "type": "string"
        },
        "slug": {
          "description": "slug for the patent",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
